<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Signup</title>
</head>
<body>
    <nav>
        <ul class="navbar">
          <li><a href="/" class="home-btn">Inicio</a></li>
          <li class="right"><a href="/login">Iniciar Sesión</a></li>
          <li class="right"><a href="/">Regresar</a></li>
        </ul>
      </nav>

    <div class="container_signup">
        <h2>Registro:</h2>
        <form action="/path-to-signup" method="post">
            <input type="text" placeholder="Nombre(s)" name="name" required><br>
            <input type="text" placeholder="Apellido Paterno" name="name" required><br>
            <input type="text" placeholder="Apellido Materno" name="name" required><br>
            <input type="email" placeholder="Correo Electrónico" name="email" required><br>
            <input type="password" placeholder="Contraseña" name="password" required><br>
            <button type="submit">Registrar</button>
        </form>
    </div>
    
    </body>
</html>
