<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Registro Exitoso</title>
</head>
<body>
    <nav>
        <ul class="navbar">
          <li><a href="/" class="home-btn">Inicio</a></li>
          <li class="right"><a href="/login">Iniciar Sesión</a></li>
          <li class="right"><a href="/">Regresar</a></li>
          <li class="right"><a href="/logout">Cerrar Sesión</a></li>
        </ul>
      </nav>
    <div class="container_signup">
        <h2>Registro Exitoso</h2>
        
          <h1>Welcome, {{ username }}!</h1>


    </div>
</html>